body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.carousel-indicators button {
  border: 0.5px solid rgba(244, 242, 242, 0.9);
  border-radius: 10px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: rgba(175, 169, 170, 0.6);
  height: 8px;
  width: 40px;
}
.home-page-container {
  background-image: url("https://images5.alphacoders.com/102/thumb-1920-1020666.jpg");
  background-repeat: no-repeat;
  height: 980px;
  padding: 0;
}
@media (max-width: 412px) {
  .home-page-container {
    height: auto;
    align-items: center;
  }
  .welcome-card {
    width: 90%;
    background-color: rgba(117, 190, 218, 0);
    margin: 30px 30px;
  }
  .nav-item {
    width: auto;
    height: 100px;
    overflow: hidden;
  }
  #login-profile-link {
    margin: 0;
    width: 100px;
  }
  .carousel-item {
    height: auto;
  }
}
@media all and (min-width: 413px) and (max-width: 991px) {
  .welcome-card {
    width: 80%;
    background-color: rgba(117, 190, 218, 0);
    margin: 30px 30px;
  }
  .nav-item {
    width: auto;
    height: 100px;
    overflow: hidden;
  }
  #login-profile-link {
    margin: 0;
    width: 100px;
  }
  .carousel-item {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .welcome-card {
    width: 50%;
    background-color: rgba(117, 190, 218, 0);
    margin: 30px 30px;
  }
  #login-profile-link {
    margin: 0;
    width: 300px;
  }
  .nav-item {
    width: fit-content;
    height: 100px;
    overflow: hidden;
  }
  .carousel-item {
    height: 450px;
  }
}
